
* {
    box-sizing: border-box;
}

body {
    color: #2d3c49;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: center;
}

.container {
    width: 960px;
}

header {
    margin-top: 30px;
    padding: 10px 0;
    border-bottom: 4px solid #7d97ad;
    display: flex;
    width: 100%;
}

.portfolio-logo {
    width: 25%;
    padding: 10px;
}

.portfolio-logo img {
    width: 96px;
}

.portfolio-title {
    text-align: right;
    width: 75%;
}

.portfolio-title h1 {
    font-size: 4em;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
}

.portfolio-title h1 a {
    color: #2d3c49;
    text-decoration: none;
}

.portfolio-title h1 a:hover {
    color: #02b3e4;
}

.portfolio-title h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;    
    text-transform: uppercase;
}

main {
    margin: 20px 0;
}

.main-image {
    background-clip: content-box;
    height: 400px;
    width: 100%;
}

footer {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 100px;
    /* flex-wrap: wrap; */
}


.work-list {
    
}

.work {
    padding: 10px;
    padding-top: 58px;
    text-align: center;
    width: 33.333%;
}

.featured-work {
    padding-top: 10px;
}

.work img {
    width: 100%;
}

.work-link {
    margin: 0;
}

.work-link a {
    color: #333;
    font-weight: 300;
}

.work-title {
    font-size: 1.8em;
    font-weight: 400;
    margin: 5px;
    text-transform: uppercase;
}

.featured-title {
    color: #7d97ad;
    font-size: 2em;
    font-weight: 300;
    margin: 5px;
    text-align: left;
}