
/* 320px */

@media screen and (min-width:426px) and (max-width: 768px) {
    .container {
        padding: 30px;
        width: 100%;
    }

    .portfolio-logo img {
        width: 72px;
    }

    .portfolio-title h1 {
        font-size: 3.4em;
    }

    .portfolio-title h2 {
        font-size: 1.5em;
    }

    .work-title {
        font-size: 1.4em;
    }

    .featured-title {
        font-size: 1.6em;
    }
}


@media screen and (max-width: 425px) {

    .container {
        width: 100%;
    }

    header {
        flex-wrap: wrap;
        width: 100%;
    }

    .portfolio-logo {
        text-align: center;
        width: 100%;
    }

    .portfolio-logo img {
        width: 72px;
    }

    .portfolio-title {
        text-align: center;
        width: 100%;
    }

    .portfolio-title h1 {
        font-size: 2.5em;
    }

    .portfolio-title h2 {
        font-size: 1.1em;
    }

    .main-image {
        background-clip: content-box;
        height: 200px;
    }

    footer {
        flex-wrap: wrap;
    }

    .work {
        border-top: 1px dotted #DDD;
        padding-top: 10px;
        width: 100%;
    }

    .work:first-child {
        border: 0;
    }

    .work-title {
        font-size: 1.4em;
    }

    .work-link {
        text-align: center;
    }

    .work-link a {
        background-color: #f3f3f3;
        display: block;
        font-weight: 400;
        padding: 1.5em 0;
    }

}

@media screen and (max-width: 320px) {
    .portfolio-logo img {
        width: 64px;
    }
}